/vendor/
/.idea/
/.vscode/
*.DS_Store
Thumbs.db
composer.phar

/config.dev.php
/config.prod.php

logs/
*.log

# Those folders will be generate by the bullseye2d library
/public/api-docs
/public/examples

/tools/createEUTaxRates.php
/tools/deploy.php
/tools/generate_docs_and_examples.sh
/tools/listTaxRates.php
public/boing-example/.dart_tool
public/boing-example/packages
public/boing-example/.build.manifest
public/boing-example/build/.dart_tool
